body{
    
    font-family: 'Lato', sans-serif;
}

.main-banner{
    background-image:url("../images/main-container.png");
    min-height:100vh;
    background-position:bottom;
    background-size:cover;
}
@media screen and (max-width:768px){
    .main-banner{
        background-image:url("../images/bg-03.png");
        
    }
}
.nav-top{
    background:transparent;
    border:0px;
}
.p{
   // box-shadow:10px 10px 1px blue;
    padding-top:0px;
}
.pimg{
    background:transparent;
}
.bttn{
    color:#fff;
    background:transparent ;
    border:0px;
    font-size:30px;
    margin-top:30px;

    //position:absolute;
    //float:right;
    //text-align:right;
}
.heading{
    float:right;
    padding-top:60px;
}
.heading-sm{
    padding-top:150px;
    color:#fff;
    word-spacing: 2.6px;
    font-size: 35px;
    letter-spacing: 0px;
    font-weight:300;
    
}
.content{
    text-align:right;
    float:left;
}
.download{
    padding:15px 20px 15px 15px;
    border:1px solid #fff;
    background:transparent;
    color:#fff;
    font-size:15px;
    margin-top:30px;
}
.donwloadimg{
    box-sizing:border-box;
    padding-left:20px;
}
.download:hover,
.download:active,
.download:focus{
    background-color:lightgreen;
}
.section-01{
    background-image:url("../images/bg-01.png");
    background-size:cover;
    background-position:top;
    background-repeat: no-repeat;
    padding:150px 0;
    
}
@media screen and (max-width:998px){
    .section-01{
        background-size:218%;
    }
   
}
.heading-md{
    font-size:40px;
    letter-spacing:-1px;
    color:#545454;
    padding-bottom:30px;
}
.para{
    font-size:16px;
    color:#a3a3a3;
    padding-bottom:30px;
    word-spacing: 2px;
    letter-spacing: 1px;
    
}
.para-one-two{
    padding-bottom:30px;
}
.slide-border{
    border:0px solid;
    width:5px;
    height:65px;
    background:#4eacdd;
    float:left;
    margin-right:15px;
}
.hello{
    border:1px solid #14af8f;
    padding:15px 20px 15px 15px;
    background:transparent;
    color:#14af8f;
    font-size:15px;
    margin-top:30px;    
}
.hello:hover,
.hello:active,
.hello:focus{
    //border:1px solid #14af8f;
    //padding:15px 20px 15px 15px;
    color:#fff;
    background-color:lightgreen;
    font-size:15px;
    //margin-top:30px;    
}
.downloadimg-one{
    padding-left:10px;
}
.section-02{
    background-image:url("../images/bg-02.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:bottom;
    padding-top:150px;
    padding-bottom:180px;
}
@media screen and (max-width:998px){    
    .section-02{
        background-size:-1%;
    }
}
.para-two-one{
    color:#474e5d;
}
.view{
    margin-top:0px;
}
.section-03{
    background-image:url("../images/bg-03.png");
    background-repeat:no-repeat;
    background-position:bottom;
    background-size:cover;
    padding:100px 0px;
}
.heading-03{
    font-size:40px;
    color:#fff;
    padding-bottom:35px;
}
.button-03{
    border-color:#fff;
    color:#fff;
}
.section-04{
    background-image:url("../images/bg-04.png");
    background-size:cover;
    background-position:bottom;
    background-repeat:no-repeat;
    padding:240px 0px;
    
}
.all-box{
    padding-bottom:50px;
}
.all-box i{
    color:#545454;
}
.icons{
    border:3px solid #545454;
    width:50px;
    height:50px;
    border-radius:50%;
    margin:10px;
    font-size:25px;
    padding-top:10px;
    background:transparent;
    
}
.icons:hover,
.icons:active,
.icons:focus{
    background:lightgreen;
}
@media screen and (max-width:440px){
    .icons{
        width:30px;
        height:30px;
        font-size:15px;
        padding-top:5px;
        margin:5px;
    }
}
.box a{
    text-decoration:none;
    color:#545454;
}
.news{
    color:#545454;
    font-weight: bold;
    text-align:center;
    padding-right:20px;
}
.email{
    border:0px solid red;
    padding:10px 20px;
}
.emailimg{
    position:absolute;
    margin-left:-35px;
    padding-top:15px;
}
.section-05{
    background:#fff;
    padding:50px 0;
}
.footer{
    font-size:14px;
    color:#545454;
}
.Perth{
    color:#6dc5ea;
}








